@import "./Variables.css";

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.app {
  display: grid;
  grid-template-columns: 1fr minmax(250px, 500px) 1fr;
  grid-template-areas:
    "header header header"
    "...... active .....";
}

.title {
  grid-area: header;
  text-align: center;
  font-size: calc(7vw + 2rem);
  font-weight: 900;
  color: rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  margin: -0.1em 0 0.5em;
}

.btn {
  color: inherit;
  padding: 0;
  border: 0;
  background: 0;
  cursor: pointer;
}

/* .app {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
  grid-template-areas: 
    "header header header header" 
    "...... lists  active ......"
}


.all-tasks {
  grid-area: lists;
}

.task-list {
  font-size: 1.1rem;
  list-style: circle;
  padding-left: 1.1em;
  line-height: 1.7;
}

.list-name {
  cursor: pointer;
}

.list-name:hover {
  opacity: 0.7;
}

.btn {
  color: inherit;
  padding: 0;
  border: 0;
  background: 0;
  cursor: pointer;
}

.btn.create {
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 0.25em;
  transition: opacity 250ms ease-in;
}

.btn.create:hover {
  opacity: 0.7;
}

form {
  display: flex;
}

.new {
  background: transparent;
  border: none;
  color: inherit;
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  outline: none;
  transition: border-bottom 150ms ease-in;
  order: 2;
}

.new.list {
  font-size: 1.1rem;
}

.new::placeholder {
  color: inherit;
}

.new:focus {
  border-bottom-width: 3px;
}

.new:focus::placeholder {
  opacity: 0.2;
}

.active-list {
  font-weight: 700;
}

.new.task {
  margin-bottom: 0;
}

.todo-list {
  --spacer: 2rem;

  grid-area: active;
  background: var(--clr-light);
  color: var(--clr-dark);
}

.todo-header {
  background: #e4e4e4;
  padding: var(--spacer);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-title {
  margin: 0;
  margin-right: 1em;
}

.task-count {
  margin: 0;
  font-size: 1rem;
}

.todo-body {
  padding: var(--spacer);
}

.new-task-creator .create {
  color: var(--clr-primary);
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.task label {
  display: inline-flex;
  align-items: center;
}

.task {
  position: relative;
  margin-bottom: 1.25em;
}

.task::after {
  content: "";
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  bottom: -0.5em;
  background: currentColor;
  opacity: 0.1;
}

.custom-checkbox {
  --size: 0.75em;
  height: var(--size);
  width: var(--size);
  border: 2px solid currentColor;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  margin-right: var(--size);
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox{
  transform: scale(1.2);
  color: var(--clr-primary);
}

[type="checkbox"]:checked + label .custom-checkbox {
  background: var(--clr-primary);
  border-color: var(--clr-primary);
  box-shadow: inset 0 0 0 2px white;
}

[type="checkbox"]:checked + label {
  opacity: 0.5;
}

.task label::after {
  content: "";
  position: absolute;
  left: 1.4em;
  right: 0;
  height: 3px;
  background: currentColor;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

[type="checkbox"]:checked + label::after {
  transform: scaleX(1);
  transform-origin: left;
} */
